<!-- top nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="authService.isLoggedIn">
  <div class="navbar-nav" >
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a class="nav-item nav-link" routerLink="/employee" routerLinkActive="active">Employee</a>
    <div style="position: relative;margin-left: 480%;">
      <a class="nav-item nav-link" routerLink="" (click)="authService.logout()" >Logout</a>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="app-container bg-light">
  <router-outlet></router-outlet>
</div>